.footer {
    background-color: var(--primary);
    width: 100%;
    position: relative;
    bottom: 0;
}

.footerText {
    color: var(--white);
    padding: 20px;
    font-size: 18px;
    text-align: center;
}